"""
Test: {{ spec_title }}

Spec: {{ spec_id }}
"""
import pytest


class Test{{ class_name }}:
    """{{ spec_title }} 테스트"""

{% if examples %}
{% for example in examples %}
    def test_{{ example.name | replace(' ', '_') | lowercase }}(self):
        """Example: {{ example.name }}
        
        SPEC-{{ spec_id }}
        Input: {{ example.input }}
        Expected: {{ example.expected }}
        """
        # TODO: Implement test
        pass

{% endfor %}
{% endif %}

{% if contract %}
    def test_contract_preconditions(self):
        """계약 전제 조건 검증
        
        SPEC-{{ spec_id }}
        """
        # TODO: Verify preconditions
        pass

    def test_contract_postconditions(self):
        """계약 결과 조건 검증
        
        SPEC-{{ spec_id }}
        """
        # TODO: Verify postconditions
        pass
{% endif %}
